.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4, h5 {
  color: #393333;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

figcaption {
  color: grey;
  font-size: small;
}

.inputPoints {
  display: flex;
  margin-top: -200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputPoints > p {
  font-size: 12px;
}

.inputPoints > div {
  flex-direction: row;
}

.inputPoints > div > div {
  flex-direction: column;
  display: flex;
}

.inputPoints > div > div > text {
  font-size: 14px;
}

.how-does-it-work {
  padding-left: 100px;
  padding-right: 100px;
}

.how-does-it-work > div {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.citations {
  flex: 1;
}

.readmore {
  flex: 3;
}

.App-content {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
